/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root {
    --textColor: rgb(10, 10, 10);
    --backgroundColor: rgb(36, 41, 47);
    --boxShadow: rgba(31, 35, 40, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
  }
  
  /* Global styles */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    min-height: 100vh; 
    margin: 0; 
    
    display: grid;
    grid-template-rows: auto 1fr auto;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  /* Header styles */
  header {
    background-color: var(--backgroundColor);
    color: #fff;
    padding: 20px;
  }
  
  header h1 {
    margin: 6px;
  }
  
  nav ul {
    list-style: none;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  nav ul li a {
    margin: 6px;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    color: rgb(255, 255, 255);
    white-space: nowrap;
    cursor: pointer;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    text-decoration: none;
  }

  nav ul li a:hover {
    color: #fff;
    font-weight: 600;
    color: rgb(255, 255, 255);
    white-space: nowrap;
    cursor: pointer;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    text-decoration: underline;
    text-underline-offset: 6px;
  }
  
  /* Main styles */
  main {
    padding: 20px;
  }
  
  h2 {
    margin-bottom: 20px;
  }

  /* .search {
    display: flex;
    justify-content: center;
  } */

  .search .search-text{
    -webkit-text-size-adjust: 100%;
    width: 30em;
    border: 1px solid rgb(208, 215, 222);
    border-radius: 6px;
    padding: 6px 13px;
    margin-bottom: 20px;
    line-height: 1.5;
    word-wrap: break-word;
    box-shadow: var(--boxShadow);
  }

  .search .search-button{
    -webkit-text-size-adjust: 100%;
    max-width: fit-content;
    border: 1px solid rgb(208, 215, 222);
    border-radius: 6px;
    background: rgb(245, 245, 245);
    padding: 6px 13px;
    margin-bottom: 20px;
    line-height: 1.5;
    word-wrap: break-word;
    box-shadow: var(--boxShadow);
  }

  .product-reel {
    display: flex;
    justify-content: center;
    border-color: rgb(208, 215, 222);
    /* border-top-style: solid; */
    border-bottom-style: solid;
    /* border-top-width: 1px; */
    border-bottom-width: 1px;
    width: 100%;
    margin-bottom: 40px;
    -webkit-box-pack: center;
    flex-wrap: wrap-reverse;
    gap: 16px;
    box-shadow: var(--boxShadow);
  }

  .product-reel img{
    width: 512px;
    height: 512px;
    max-width: 100%;
    cursor: pointer;
    /* border: 1px solid rgb(208, 215, 222); */
    box-shadow: var(--boxShadow);
  }

  section {
    display: flex;
    gap: 20px;
  }
  
  .product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    -webkit-text-size-adjust: 100%;
    /* max-width: fit-content; */
    border: 1px solid rgb(208, 215, 222);
    border-radius: 6px;
    padding: 6px 13px;
    margin-bottom: 20px;
    line-height: 1.5;
    word-wrap: break-word;
    box-shadow: var(--boxShadow);
  }
  
  .product img {
    width: 120px;
    height: 120px;
    max-width: 100%;
  }

  .product a {
    text-decoration: none;
    color:var(--textColor);
  }

  .product-button {
    padding: 0px 12px;
    margin-top: 16px;
    height: 32px;
    border: 1px solid #ff3131;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    background: #fff;
    box-shadow: var(--boxShadow);
    color: #ff3131;
    text-decoration: none;
  }

  .product-button:hover {
    color: #fff;
    background: #ff3131;
  }
  
  /* Footer styles */
  footer {
    min-height:50px;
    background-color: var(--backgroundColor);
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  